**/node_modules/**
**/certificates/**
*.log
*.crt
*.pem
.DS_Store
.env
.env.*
!.env.example
.idea/
.jest-cache
.next/
.pnp.cjs
.pnp.js
.sentryclirc
.store
.swc/
.tmp
.vercel
.verdaccio-cache
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
RELEASE.md
__package_previews__
_docpress
_node_modules
build
dist/
**/dist/**
libquery_engine-darwin.dylib.node
logs
npm-debug.log*
out/
package-lock.json
privatePackages/store
storage
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*
yarn.lock
.vercel
test-results
playwright-report
playwright
data/
package-lock.json